body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}


article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}


header, footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}

main {
    background-color: #f9f9f9;
    padding: 10px;
}

article {
    background-color: #eaeaea;
    padding: 10px;
    margin-right: 10px; 
}

aside {
    background-color: #d9d9d9;
    padding: 10px;
}
